button:focus {
  outline: 0;
}

button:focus,
input[type="button"]:focus {
  outline: none;
}

.section1 {
  width: 100%;
  overflow: hidden;
  height: 100vh;
  overflow: hidden;
  background-image: url("../../assets/images/Section1BGDesktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.section2 {
  width: 100%;
  height: 80vh;
  background-color: #f7f7f7;
  overflow: hidden;
}

.featured-header {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.featured-header p {
  padding: 0px 12px;
  font-size: 32px;
  font-weight: bold;
  color: #002926;
  font-family: serif;
}

.line {
  width: 35vw;
  height: 1px;
  background-color: #002926;
  opacity: 0.5;
}

.section3 {
  width: 100%;
  background-color: white;
}

@media (max-width: 375px) and (max-height: 667px) {
  .section2 {
    height: 85vh;
  }

  .section3 {
    height: 80vh;
  }
}

@media (max-width: 414px) {
  .featured-header p {
    font-size: 22px;
  }
  .featured-header {
    margin-bottom: 20px;
  }
  .line {
    width: 20vw;
  }
  .navbarDivider {
    height: 8vh;
  }
}

@media (max-width: 975px) and (min-width: 415px) {
  .navbarDivider {
    height: 8vh;
  }
  .featured-header p {
    font-size: 25px;
  }
  .line {
    width: 25vw;
  }
}
